{% extends 'base.html' %}

{% block css %}{% endblock %}
{% block body %}
<div class="container-fluid vh-100 " >
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="card text-left shadow-0 border-0">
                <form class="card-body" method="POST" id="">
                    <div class="form-group">
                        <label for="appname">Select an app</label>
                        <select class="form-control form-control-sm" name="appname" id="appname">
                            {% for option in appscore %}
                            <option value="{{option.Review.app}}" {% if appname == option.Review.app %} selected {% endif %}>
                                {{option.Review.app}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group py-2">
                        <button class="btn btn-outline-dark btnload">Change App</button>
                    </div>
                    <div class="form-check">
                        <label class="show_raw">
                            <input type="checkbox" class="form-check-input" id="show_raw"  checked value="True" >
                            Toggle Raw data view
                          </label>
                    </div>
                </form>
                <form class="card-body" method="POST" id="form1">
                    <h4 class="card-title"><i class="fa fa-home" aria-hidden="true"></i> Menu</h4>
                    <div class="form-group">
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="sentiment" id="sentiment" checked>
                            Sentiment graph
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="subj" id="subj" >
                            subjectivity graph
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="pol" id="pol" >
                            Polarity graph
                          </label>
                        </div>
                        <div class="form-group py-2">
                            <button class="btn btn-outline-dark btnload">Apply</button>
                        </div>
                       
                    </div>
                </form>
                
            </div>
        </div>
        <div class="main-area col-md-8 col-sm-6">
            <div class="graph-area-1">
                <div id="chart1" class="chart"></div>
            </div>
            <div class="graph-area-2">
                <div id="chart2" class="chart"></div>
            </div>
            <div class="graph-area-3">
                <div id="chart3" class="chart"></div>
            </div>
            <table class="table table-striped border table-responsive table-sm">
                <thead class="thead-default">
                    {% if appname %}
                    <tr>
                        <th colspan="7">Display raw review data : {{appname}}</th>
                    </tr>                        
                    {% endif %}
                    <tr>
                        <th>app</th>
                        <th>score</th>
                        <th>subjectivity</th>
                        <th>polarity</th>
                        <th>analysis</th>
                        <th>Like</th>
                        <th>review</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in reviewlist%}
                    <tr>
                        <td>{{row.app}}</td>
                        <td>{{row.score}}</td>
                        <td>{{row.subjectivity}}</td>
                        <td>{{row.polarity}}</td>
                        <td>{{row.analysis}}</td>
                        <td>{{row.thumbsUpCount}}</td>
                        <td >{{row.content}}</td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    
    $('#show_raw').change(function(){
        if(this.checked){
            $('.table').slideDown('slow')
        }else{
            $('.table').slideUp('slow')
        }
    });

    $('#form1').on('submit',function(e){
        e.preventDefault()  
        $('.btnload').html('<i class="fa fa-spinner fa-spin"></i> Apply')
        let appname = $('#appname').val();
        let sentiment =  $('#sentiment').is(':checked');
        let subj =  $('#subj').is(':checked');
        let pol =  $('#pol').is(':checked');

        let selection = {
            'appname':appname,
            'pol':pol,
            'subject':subj,
            'sentiment':sentiment
        }
        $.ajax({
            type: "post",
            url: "/callback",
            data: selection,
            success: function (response) {
                data = JSON.parse(response)
                console.log(data)
                // console.log(typeof(data['polarity']))
                console.log(typeof(data['subjectivity']))
                Plotly.newPlot('chart1', JSON.parse(data['sentiment']), {staticPlot: true});
                Plotly.newPlot('chart2', JSON.parse(data['polarity']), {staticPlot: true});
                Plotly.newPlot('chart3', JSON.parse(data['subjectivity']), {staticPlot: true});
                $('.btnload').html('Apply')               
            }
        });
    })
</script>
{% endblock %}
